# Retail sales analysis

## Importing modules

### Import Pandas

In [1]:
# Importing the pandas module with the common alias
import pandas as pd

## Loading the Data

### Import Data

In [2]:
# Load the dataset 
sales_df = pd.read_csv(r"C:\Users\Shahab Ghafoor\Projects\Retail-Sales-Analysis\data\sales.csv")

In [3]:
# Inspect the loaded data using head() method
sales_df.head()

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
0,534377,2010-11-22,Monday,RED RETROSPOT TRADITIONAL TEAPOT,1,7.95,7.95
1,534377,2010-11-22,Monday,SET/5 RED RETROSPOT LID GLASS BOWLS,1,2.95,2.95
2,534377,2010-11-22,Monday,BROWN CHECK CAT DOORSTOP,1,4.25,4.25
3,534377,2010-11-22,Monday,TEA BAG PLATE RED RETROSPOT,2,0.85,1.70
4,534377,2010-11-22,Monday,CHILLI LIGHTS,1,4.95,4.95

## Processing and Analyzing the Dataset

### Understanding the data

In [4]:
# Get the data types of each feature
feature_types = sales_df.dtypes

In [5]:
# Print the result
print(feature_types)

invoice_id          int64
date               object
day_of_week        object
product_name       object
units_sold          int64
price_per_unit    float64
amount            float64
dtype: object

### Sorting the DataFrame

#### Purchases with Biggest Sales

In [6]:
sorted_df = sales_df.sort_values('amount', ascending=False)
top_10 = sorted_df.head(10)

In [7]:
# Display the results
top_10

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
438,534418,2010-12-02,Thursday,VINTAGE RED KITCHEN CABINET,1,295.00,295.00
418,534409,2010-11-30,Tuesday,3 TIER CAKE TIN GREEN AND CREAM,4,14.95,59.80
303,534399,2010-11-25,Thursday,"CAKE TIN, 3 TIER MINT/IVORY",3,14.95,44.85
301,534399,2010-11-25,Thursday,"CAKE TIN, 3 TIER RED/IVORY",3,14.95,44.85
17,534378,2010-11-22,Monday,SET/4 WHITE RETRO STORAGE CUBES,1,39.95,39.95
414,534409,2010-11-30,Tuesday,REGENCY CAKESTAND 3 TIER,3,12.75,38.25
360,534406,2010-11-29,Monday,CREAM SWEETHEART WALL CABINET,2,18.95,37.90
53,534382,2010-11-23,Tuesday,WOODEN ADVENT CALENDAR CREAM,2,16.95,33.90
508,534424,2010-11-23,Tuesday,3 TIER CAKE TIN RED AND CREAM,2,14.95,29.90
564,534443,2010-12-03,Friday,3 TIER CAKE TIN RED AND CREAM,1,29.79,29.79

### Product counts

#### Product name per row

In [8]:
# Find out which product name appears most frequently.
product_counts = sales_df['product_name'].value_counts()

In [9]:
# Preview the results
product_counts.head()

product_name
HAND WARMER BIRD DESIGN           8
HAND WARMER OWL DESIGN            8
HAND WARMER RED RETROSPOT         7
CHRISTMAS CRAFT LITTLE FRIENDS    7
HAND WARMER SCOTTY DOG DESIGN     6
Name: count, dtype: int64

#### Units sold per product name

In [10]:
grouped_by_product_name = sales_df.groupby('product_name')
unit_counts = grouped_by_product_name['units_sold'].sum()

In [11]:
# Sort and preview the results
unit_counts.sort_values(ascending=False).head()

product_name
HAND WARMER BIRD DESIGN      14
SMALL POPCORN HOLDER         13
HAND WARMER RED RETROSPOT    13
HAND WARMER OWL DESIGN       12
SCANDINAVIAN REDS RIBBONS    12
Name: units_sold, dtype: int64

### Filtering the DataFrame

#### Filter by product name and units sold

In [12]:
# Get rows that sold more than 1 HAND WARMER BIRD DESIGN
df_filtered = sales_df[(sales_df['product_name'] == 'HAND WARMER BIRD DESIGN') & 
                       (sales_df['units_sold'] > 1)]

In [13]:
# Preview the results
df_filtered.head()

,invoice_id,date,day_of_week,product_name,units_sold,price_per_unit,amount
527,534429,2010-11-24,Wednesday,HAND WARMER BIRD DESIGN,3,2.1,6.3
534,534431,2010-11-24,Wednesday,HAND WARMER BIRD DESIGN,3,2.1,6.3
536,534432,2010-11-25,Thursday,HAND WARMER BIRD DESIGN,2,2.1,4.2
550,534438,2010-11-30,Tuesday,HAND WARMER BIRD DESIGN,2,2.1,4.2

In [14]:
# Specify one invoice from the results above
index = 534438

# Filter by the invoice id
row = sales_df[(sales_df["invoice_id"]==index)]

# Print the products found in the invoice
row['product_name']

549            HAND WARMER OWL DESIGN
550           HAND WARMER BIRD DESIGN
551         HAND WARMER RED RETROSPOT
552     3 TIER CAKE TIN RED AND CREAM
553    CHRISTMAS CRAFT LITTLE FRIENDS
Name: product_name, dtype: object

### Total amount per invoice

#### Find the total amount per invoice

In [15]:
# create a pivot table using "invoice_id" as index.
# use the columns "units_sold" and "amount" as values, aggregating by sum
pivot_by_invoice = sales_df.pivot_table(index='invoice_id', 
                                        values=['units_sold', 'amount'], 
                                        aggfunc='sum')

In [16]:
# Inspect the total_amount Series
pivot_by_invoice.head()

            amount  units_sold
invoice_id
534377       94.99          19
534378       39.95           1
534379       23.80           4
534380      113.35          13
534381      140.35          55

### Descriptive statistics

In [17]:
# Get the datatype of the pivot table output
type(pivot_by_invoice)

pandas.core.frame.DataFrame

In [18]:
# Get a summary of the features
pivot_by_invoice.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69 entries, 534377 to 534445
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   amount      69 non-null     float64
 1   units_sold  69 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB

#### Slicing the DataFrame

In [19]:
# Get 40 rows starting on the 20th invoice.
pbi_sliced = pivot_by_invoice.iloc[20:60]  # Rows 20-59 (40 rows)

In [20]:
# Print number of rows
print("number of rows:", len(pbi_sliced))
print()

# Print start and end rows
print(pbi_sliced.iloc[0])
print()
print(pbi_sliced.iloc[39])

number of rows: 40

amount        115.25
units_sold     65.00
Name: 534397, dtype: float64

amount        11.8
units_sold     4.0
Name: 534436, dtype: float64

#### Analyzing the amount per invoice

In [21]:
# find the sum, mean, max in pbi_sliced


# find the correlation of the numerical variables of pbi_sliced
amount_sum = pbi_sliced['amount'].sum()
amount_mean = pbi_sliced['amount'].mean()
amount_max = pbi_sliced['amount'].max()
corr_units_amount = pbi_sliced[['units_sold', 'amount']].corr()

In [22]:
# Print the results
print("The sum of all sales is:", round(amount_sum, 2))
print("The mean amount per purchase is:", round(amount_mean, 2))
print("The highest purchase amount is:", round(amount_max, 2))
print("The correlation between the amount and number of units sold per invoice is", 
      round(corr_units_amount.loc['amount']['units_sold'],4))

The sum of all sales is: 2102.03
The mean amount per purchase is: 52.55
The highest purchase amount is: 295.0
The correlation between the amount and number of units sold per invoice is 0.6193